<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍲</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>song-soup</title>
    
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    
    <!-- this is the start of content -->
    <h1>
      SONG<class class="red">SOUP</class>
    </h1>
    <p>
      Check up on your listening history, you'd be surprised.
    </p>
    <a href="/authorize">
      <button name="big red button" value="create_room">
        <b><i>LOGIN</i></b>
      </button>
    </a>
    
    <footer>
      <a href="https://www.spotify.com/us/free/" target="_blank" class="spotify_free_container">
        <img class="spotify_free_logo" src="https://cdn.glitch.me/294255af-2023-4966-a9da-f7be96f3420f/Spotify_Icon_CMYK_Black.png?v=1641531060625"/>
        <span class="spotify_free_text">GET SPOTIFY FREE</span>     
      </a>
    </footer>
  </body>
</html>
