<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍲</text></svg>">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>stone-soup</title>

    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    
    <!-- this is the start of content -->
    <h1>
      SONG<class class="red">SOUP</class>
    </h1>
    <br/>
    <img class="waiting" src="https://cdn.glitch.me/294255af-2023-4966-a9da-f7be96f3420f/soup_gif.gif?v=1640688398908" alt="good soup"/>
    <i class="waiting">Waiting...</i>
  </body>
</html>
